/* Estilização da NAV */

.navbar-nav {

margin-left: 14px;
}

.nav-link{
    display: block;
    text-transform: uppercase;
    color: #ffcc99;
    font-weight: 600;
    /*Formatar aqui também*/
}

.nav-link:hover{
   color: #ff9933;  
}

.navbar{
    padding: 0; /* deixa a navbar sem espaços em branco em volta dela */
    background-color: white;
    box-shadow: 0 10px 12px rgba(0,0,0,.3);
}


.navbar-brand{
    background-color: #ffcc99;
    min-width: 9rem; /* não pode ter uma largura menor que essa */
    text-align: right;
    color: white; /*tirar navbar-light e bg-light para o bootstrap não sobrescrever meu CSS*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    /*Usar f12 no google chrome para saber o que o bootstrap está sobrescrevendo quando algo não funcionar*/
}

.navbar-brand:hover{
   color: #fff2e6; 
}

/* Fim estilização da NAV */

/* Jumbotron */

.jumbotron{
    background: url(imagens/teste.jpg);
    background-size: cover; /* faz a imagem cobrir o background de maneira mais correta*/
    background-position: right center; /*centraliza a imagem*/
    padding: 10rem 2rem; /* aumentando o preenchimento da imagem(fazendo ela ocupar mais espaço) */ 
    align-items: center;
    margin-bottom: 0; /* Para a div subir*/
   /* height: 90vh;*/
    
}

.jumbotron .lead{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0,0,0,.7);
}

.display-4{
    font-size: 3.1rem;
    text-shadow: 2px 2px 1px rgba(0,0,0,.4);
    color: white;
    text-align: center;
}

.btn{
   background-color: inherit;
   outline-color: red;
   color: rgba(255,255,255,.7);
   border: 1px solid rgba(255,255,255,.3);
}

.btn:hover{
   background-color: inherit;
   border: 1px solid rgba(255,255,255,.5);
   color: rgba(255,255,255,1);
}

.navbar .fas{
    color:#ffcc99;
    margin: 11px 4px 3px 10px;
}

.fas:hover{
    color:#ff9933;
    cursor: pointer;
}

.navbar .fa-user{
    border-left: 1px solid #ff9933;
    padding-left: 15px;
}

/* fim Jumbotron*/




/*#separacao{
    background-color: #ffcc99;
    width: 100%;
    height: 80px;
}*/



